
# MongoDB
MONGODB_URI=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# NextAuth v5
AUTH_SECRET=
AUTH_URL=

# JWT (admin)
JWT_SECRET=

# Public
NEXT_PUBLIC_GA_MEASUREMENT_ID=
