html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0f0f0f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: #fff;
  color: #000;
}

::-moz-selection {
  background-color: #fff;
  color: #000;
}
